[access]
	inheritFrom = All-Projects
[submit]
	action = cherry pick

[label "Commit-Queue"]
	abbreviation = CQ
	value =  0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock

[access "refs/heads/*"]
	label-Commit-Queue = +0..+1 group Registered Users
	label-Commit-Queue = +0..+2 group pdfium-committers
	labelAs-Commit-Queue = +0..+2 group commit-queue-bot
	submit = group commit-queue-bot
	read = group commit-queue-bot
	push = group commit-queue-bot
	forgeAuthor = group commit-queue-bot
